include ./variables

mixin button(color, url, text)
  // BUTTON
  table(width="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      td(align="center" style="padding: 0;")
        a(class="body-text" href="#{url}" target="_blank" style="padding: 0px 10px 0px 10px; font-size: 15px; font-family: #{ffMedium}; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: .5px; background-color: #{color}; border-top: 10px solid #{color}; border-bottom: 10px solid #{color}; border-left: 20px solid #{color}; border-right: 20px solid #{color}; display: inline-block;").
          &nbsp;#{text}&nbsp;

mixin footerLine(text, bold = false, color = textColor)
  tr
    td(class="body-text" align="center" style="font-family: #{ffBook}; font-weight: normal; font-size: 14px; line-height: 22px; color: #{color};")
      if bold
        | #[span(class="appleFooter" style="color: #{color}; font-weight: bold; letter-spacing: .5px;") #{text}]
      else
        | #[span(class="appleFooter" style="color: #{color}; font-weight: normal;") #{text}]

mixin kicker(text, color = blue)
  //- KICKER
  tr
    td(class="body-text" style="padding: 0px 0px 10px; font-family: #{ffMedium}; text-transform: uppercase; color: #{color}; letter-spacing: 2px; font-size: 14px; text-align: center")
      | #{text}

mixin headline(text, color = red)
  //- HEADLINE
  tr
    td(class="body-text-headline" style="padding: 0px 0px 10px; font-family: #{ffMedium}; font-weight: bold; font-size: 32px; text-align: center; line-height: 40px; color: #{color};") #{text}

mixin subhead(text, color = blue)
  //- SUBHEAD
  tr
    td(class="body-text subhead-main" style="padding: 0px 40px 15px; font-size: 21px; line-height: 28px; color: #{color}; font-family: #{ffMedium}; font-weight: normal; text-align: center;") #{text}

mixin graf(text)
  //- GRAF
  tr
    td(class="body-text" style=grafStyle) #{text}

mixin grafLink(text, url, color = red)
  if color == white
    a(class="body-text" href="#{url}" target="_blank" style=grafUrlStyleWhite) #{text}
  else
    a(class="body-text" href="#{url}" target="_blank" style=grafUrlStyle) #{text}

mixin disclaimer(text, style = 'normal')
  if style == 'reverse'
    //- GRAF
    tr
      td(class="body-text" style=disclaimerStyleReverse) #{text}
  else
    //- GRAF
    tr
      td(class="body-text" style=disclaimerStyle) #{text}


mixin cta(text, link, color = red)
  //- CTA
  tr
    td(class="body-text" style="padding: 0px 0px 25px; font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 16px; text-align: left; line-height: 20px; color: rgb(102, 102, 102);")
      +button(color, link, text)

mixin socialIcon(url, imageUrl, alt, width, height, altTextColor = 'red')
  a(href="#{url}" style="text-decoration: none;" target="_blank")
    img(src="#{imageUrl}" alt="#{alt}" style="font-family: Arial; color: #{altTextColor}; font-size: 12px; line-height: 16px; font-weight: normal;" width="#{width}" height="#{height}")

mixin social(color = 'gray')
  tr
    td(align="center" style="padding: 12px 0px 0px 0px;")
      table(border="0" cellpadding="0" cellspacing="0" width="150")
        tr
          td(align="left" style="padding: 0px 10px;")
            +socialIcon('http://facebook.com/osteopathicphysicians', 'http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/logo57-facebook-' + color + '.png', 'Facebook', 28, 28, white)
          td(align="center" style="padding: 0px 10px;")
            +socialIcon('http://twitter.com/aoafordos', 'http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/logo57-twitter-' + color + '.png', 'Twitter', 28, 28, white)
          td(align="right" style="padding: 0px 10px;")
            +socialIcon('https://www.linkedin.com/groups/76192/', 'http://aoa-omed.informz.net/aoa-omed/data/images/OMED%202017/logo57-linkedin-' + color + '.png', 'LinkedIn', 28, 28, white)

mixin unsubscribe(style = 'normal')
  tr
    td(class="body-text" align="center" style="padding: 20px 0px 0px 0px;")
      if style == 'reverse'
        | #[a(class="body-text" href="https://preferences.osteopathic.org/%%IMIS||UD||AOA_OptOut.IDHash%%?mi=%%MINSTANCEID%%&_zs=%%ENCODEDUID%%&_zmi=%%ENCODEDMAILINGINSTANCEID%%" style="font-family: #{ffBook}; font-weight: normal; font-size: 13px; line-height: 24px; color: #{veryLightPurple};" target="_blank") Manage your preferences or unsubscribe]
      else
        | #[a(class="body-text" href="https://preferences.osteopathic.org/%%IMIS||UD||AOA_OptOut.IDHash%%?mi=%%MINSTANCEID%%&_zs=%%ENCODEDUID%%&_zmi=%%ENCODEDMAILINGINSTANCEID%%" style="font-family: #{ffBook}; font-weight: normal; font-size: 13px; line-height: 24px; color: #666666;" target="_blank") Manage your preferences or unsubscribe]

mixin footerLogo(logoUrl, logoLink, alt, width, height, altTextColor = 'red')
  tr
    td(align="center" style="padding: 12px 0px 0px 0px;")
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
        tr
          td(align="center" style="padding: 0px 10px 42px 10px;")
            a(href="#{logoLink}" style="text-decoration: none;" target="_blank")
              img(src="#{logoUrl}" alt="#{alt}" style="font-family: Arial; color: #{altTextColor}; font-size: 14px; line-height: 20px; font-weight: normal;" width="#{width}" height="#{height}")

mixin bannerImage(url, imageSrc, width, height, altText, altTextColor = 'red')
  img(class="fluid-image" src="#{imageSrc}" width="#{width}" height="#{height}" border="0" alt="#{altText}" style="display: block; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center; margin-left: auto; margin-right: auto;")

mixin image(imageSrc, width, height, altText, altTextColor = 'red')
  img(class="fluid-image" src="#{imageSrc}" width="#{width}" height="#{height}" border="0" alt="#{altText}" style="display: block; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
