include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor=white)

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            include ./includes/top-matter
            //-include ./includes/header

        include ./includes/banner

        tr
          td
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding-extra25-top" align="center" bgcolor=white style="padding: 25px 0px 15px 0px;")
                  // wrapper 
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 10px 0px 20px; border-bottom: 1px solid #{blue};")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                +kicker('Special Offer: Save $100', magenta)

                                //- HEADLINE
                                tr
                                  td(class="body-text-headline" style="padding: 0px 0px 10px; font-family: #{ffMedium}; font-weight: 600; font-size: 42px; text-align: center; line-height: 50px; color: #{blue};") Learn about medicine 360 at OMED
                                
                                +subhead('Earn more than 35 CME credits at the country’s largest osteopathic medical conference', magenta)

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    | Come to #[strong #[a(class="body-text" href="#{omedUrl}" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{magenta};") OMED], Oct. 25-28 at the Baltimore Convention Center] to engage with thousands of physicians and medical students close to home.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    | Take advantage of this once-a-year opportunity to fulfill your continuing education requirements.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    ul(style="margin: 0; padding: 0;")
                                      li(style="margin: 0 0 25px; list-style: disc inside; mso-special-format: bullet;")
                                        | Come early for Thursday’s pre-conference sessions and start to #[strong earn 35+ hours of CME credits] offered by 14 specialty groups.
                                      li(style="margin: 0 0 25px; list-style: disc inside; mso-special-format: bullet;")
                                        | #[strong Explore exclusive dual CME sessions] (#[em AMA PRA Category 1 Credit™] and AOA Category 1-A CME credit) provided by the American College of Osteopathic Internists and #[strong Cleveland Clinic].
                                      li(style="margin: 0 0; list-style: disc inside; mso-special-format: bullet;")
                                        | NEW! Stay Monday for physician wellness CME sessions and take care of you.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    | #[strong View the #[a(class="body-text" href="#{programUrl}" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{magenta};") FULL PROGRAM]] to see everything OMED has to offer.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    | Feel empowered from the CME sessions and be inspired to excel from impactful #[+grafLink('keynote speakers', 'https://omed.osteopathic.org/speakers')]. Experience all this and more #[strong in one convenient location].

                                tr
                                  td(class="body-text" style=grafStyleEmph) Practicing physicans,
                                    br
                                    | use discount code BALTIMORE
                                    br
                                    | to save $100 off the full registration rate.

                                +cta('Register Today', registrationUrl, magenta)

                                +disclaimer("Can't attend the entire conference? Come for the weekend or just one day. The one-day rate offers significant savings while giving you access to all OMED events on the day of your choice.") 


        include ./includes/footer
