include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor=sand)

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            include ./includes/top-matter
            include ./includes/header

        include ./includes/banner

        tr
          td
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding-extra25-top" align="center" bgcolor=sand style="padding: 25px 0px 40px 0px;")
                  // wrapper 
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 10px 0px 0px;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")

                                +kicker('Lorem ipsum dolor')
                                +headline('')

                                //- HEADLINE
                                tr
                                  td(class="body-text" style="padding: 0px 0px 10px; font-family: #{ffMedium}; font-weight: normal; font-size: 32px; text-align: center; line-height: 40px; color: #{red};") Save on OMED 
                                    br
                                    | this 4th of July
                                +subhead('Aenean lacinia bibendum nulla sed consectetur donec sed odio')
                                +graf('This holiday weekend, take advantage of our FLASH SALE for HUGE SAVINGS on OMED registration. While you’re celebrating America’s independence, take the first step to joining the largest gathering of DOs, Oct. 7-10 in Philadelphia.')
                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};") 
                                    | We don’t want you to miss this #[a(href="#{programUrl}" target="_blank" style=grafUrlStyle) premier event] featuring 15 specialty colleges, more than 35+ hours of CME and dually-accredited programming from Mayo Clinic and Cleveland Clinic.
                                +graf('Don’t wait to save big, offer ends on July 6.')

                                tr
                                  td(class="body-text" style=grafStyleEmph)
                                    | Use code FREEDOM to save $100 off the standard registration rate.
 

                                +cta('Register Today', registrationUrl, red)

                                +disclaimer('Promotion is for member or nonmember DOs and codes cannot be combined with other promotions.')















