include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" bgcolor=white)
  tr
    td(align="center" bgcolor=white)

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        //-tr
          //-td
            //-include ./includes/top-matter
            //-include ./includes/header

        include ./includes/banner

        tr
          td
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding-extra25-top" align="center" bgcolor=white style="padding: 25px 0px 15px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 10px 0px 20px; border-bottom: 1px solid #{blue};")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                //-+kicker('Special Offer: Save $100', orange)

                                //- HEADLINE
                                tr
                                  td(class="body-text-headline" style="padding: 0px 0px 16px; font-family: #{ffMedium}; font-weight: 600; font-size: 36px; text-align: center; line-height: 48px; color: #{blue};") Earn Up to 50 CME Credits at Virtual OMED

                                +subhead('Join Your Physician Colleagues at One of the Country’s Top Medical Conferences', orange)

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | You’re invited to attend virtual #[b #[a(class="body-text" href="#{omedUrl}" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{orange};") OMED]], Oct. 15-18!  Join your colleagues from around the nation and take advantage of the opportunity to learn, connect and recharge from the comfort of your home or workspace.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | OMED, the longest-running and most popular multi-specialty osteopathic medical education conference in the United States, features more than 180 hours of content from 12 specialties, including Family Practice, Addiction Medicine, Emergency Medicine and more.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Register now and plan to:
                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    ul(style="margin: 0; padding: 0;")
                                      li(style="margin: 0 0 25px; list-style: disc inside; mso-special-format: bullet;")
                                        | Earn up to 50 #[i AMA PRA Category 1 Credits&trade;] while gaining timely updates on COVID-19 and new strategies to manage pain, treat disease and promote wellness.
                                      li(style="margin: 0 0 25px; list-style: disc inside; mso-special-format: bullet;")
                                        | Collaborate with physicians across specialty groups and network with your colleagues from around the country.
                                      li(style="margin: 0 0; list-style: disc inside; mso-special-format: bullet;")
                                        | Feel empowered and inspired from a powerful lineup of #[a(class="body-text" href="https://omed.osteopathic.org/speakers/" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{orange};") keynote speakers] who have overcome great adversity to achieve success, and public health experts including the U.S. Secretary of Health and Human Services, who will provide updates on COVID-19.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | View the #[strong #[a(class="body-text" href="#{programUrl}" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{orange};") FULL PROGRAM]] to see everything OMED has to offer you.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Experience all this and more conveniently in one online space.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | BONUS: Can't attend all the live sessions? They will be available to watch 7 full days post-conference.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 40px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | We hope to see you at virtual OMED. #[a(class="body-text" href="#{registrationUrl}" target="_blank" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: 600; text-align: left; color: #{orange};") Don&rsquo;t miss out!]

                                +cta('Register now', registrationUrl, orange)

                                //-+disclaimer("Can't attend the entire conference? Save with the one-day rate and come on the day of your choice.")


        include ./includes/footer
