include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor=purple)

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            include ./includes/top-matter
            include ./includes/header

        include ./includes/banner

        tr
          td
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding-extra25-top" align="center" bgcolor=purple style="padding: 25px 0px 15px 0px;")
                  // wrapper 
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 10px 0px 20px; border-bottom: 1px solid #ada0cc;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                +kicker('A SPECIAL GIFT FOR YOU', veryLightPurple)

                                //- HEADLINE
                                tr
                                  td(class="body-text-headline" style="padding: 0px 0px 10px; font-family: #{ffMedium}; font-weight: 600; font-size: 42px; text-align: center; line-height: 50px; text-shadow: #{textShadow}; color: #{textColorReverse};") $50 off OMED  &mdash; two days only for A.T. Still 
                                
                                +subhead('Hurry, you only have 48 hours to save big. Offer ends on Aug. 19.', veryLightPurple)
                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};") 
                                    | On Aug. 6, we celebrated a BIG event &mdash; the 189th Birthday of A.T. Still! During his birthday month, we are keeping the celebration going with a special limited time offer just for you.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};") 
                                    | In honor of our founder, we invite you to take advantage of our two-day FLASH SALE for HUGE SAVINGS &mdash; $50 off OMED registration.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};") 
                                    | The festivities don’t end there. Continue the celebration at OMED Oct. 7-10 in Philadelphia, where you’ll enjoy alumni events, a specially-tailored #[+grafLink('resident track', 'http://mydigitalpublication.com/publication/?i=403769', white)], facilitated networking sessions in our new <i>Braindates</i> Lounge, and a fun-filled Philly Block Party. You don’t want to miss this! You belong. Here. 

                                tr
                                  td(class="body-text promo" style=grafStyleEmphWhitePurple) Use code CAKE to save $50
                                    br
                                    | off the standard registration rate.

                                +cta('Register Today', housingUrl, red)

                                +disclaimer('Promotion is for member or nonmember DOs and codes cannot be combined with other promotions.', 'reverse')

        include ./includes/footer

