include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#fbf6ef" style="background-color: #fbf6ef")

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="648")
        tr(id="tr1")
          td(align="left").mobile-hide
            table(border="0" cellpadding="0" cellspacing="0" width="48" style="table-layout: fixed;")
              tr
                td

            //-include ./includes/top-matter
            include ./includes/header

        include ./includes/banner


        tr(id="tr4")
          td(align="left").mobile-hide

          td(align="right")
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor=white style="padding: 0px 0px 15px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 30px 0px 0px 0px;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                //-+headline('Dr. %%IMIS||NAME||LAST_NAME%%, we’re wishing you a happy and healthy holiday', cardinal)
                                //-+headline('', '#cf5450')
                                //- HEADLINE
                                tr
                                  td(class="body-text-headline" style="padding: 0px 28px 30px; font-family: #{ffMedium}; font-weight: bold; font-size: 36px; text-align: center; line-height: 44px; color: #cf5450;") Our warmest wishes for a special holiday season, Dr. Seaborn

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    //-| During this special time of year, I wanted you to know how thankful I am for each of our members, including you, Dr. %%IMIS||NAME||LAST_NAME%%.
                                    | As 2020 draws to a close, we want to take a moment to wish you a happy, healthy holiday and extend sincere gratitude for each and every member of our osteopathic family.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Through this incredibly challenging year, we’ve drawn inspiration from the strength of the osteopathic profession. We are deeply moved by the thousands of DOs across the country who have bravely and selflessly cared for the sickest of patients day after day. And our hearts are filled with growing anticipation for the relief and recovery we hope 2021 will bring.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | This holiday season, we celebrate the collective contributions of more than 151,000 DOs and medical students who are making an impact in communities large and small. And we renew our unyielding commitment to advance and uplift the osteopathic profession and support the work you do each day.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Thank you for choosing the AOA as your professional home. No matter how you celebrate the holidays this year, we wish you peace, love and joy.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Sincerely,

                                tr
                                  td
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td
                                          table(align="left" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/giaimo-circle-1.png" width="125" height="188" border="0" alt="Portrait of Dr. Giaimo" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(style="padding-top: 20px" align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/giaimo-sig-black-1.png" width="224" height="61" border="0" alt="Dr. Ely's signature" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0px 0px; font-weight: bold; text-align: center; color: #{textColor};")
                                                      | Joseph A. Giaimo, DO, MACOI, FCCP
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{textColor};")
                                                      | AOA President

                                          table(align="right" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/klauer-circle-1.png" width="125" height="188" border="0" alt="Portrait of Kevin M. Klauer, DO" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" style="padding-top: 20px")
                                                      img(class="fluid-image" src="http://amorassoc.informz.net/AmOrAssoc/data/images/2021/klauer-sig-black-1.png" width="140" height="61" border="0" alt="Dr. Klauer's signagure" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0 0px; font-weight: bold; text-align: center; color: #{textColor};")
                                                      | Kevin M. Klauer, DO, EJD

                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{textColor};")
                                                      | AOA CEO

        // cast shadow
        tr
          td(align="left").mobile-hide
          td
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td
                              img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/card-shadow-bottom.png" width="600" height="73" border="0" alt="Cast shadow" style="display: block; padding: 0; color: #000066; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center; margin-left: auto; margin-right: auto;")

        include ./includes/footer
