include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor=navy)

      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
        tr
          td
            include ./includes/top-matter
            include ./includes/header

        include ./includes/banner

        tr
          td
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(class="padding-extra25-top" align="center" bgcolor=navy style="padding: 60px 0px 15px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")

                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 10px 0px 20px;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    | During this special time of year, I wanted you to know how thankful I am for each and every one of our members, including you, Dr. Seaborn.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    | I’m also thankful to lead the nation’s largest and only professional organization that represents all 151,373 osteopathic medical students and physicians—the most in history—and growing each year.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    | As I reflect on my past six months as CEO, I am excited and honored to guide the AOA into the next decade of the 21st century. I’m committed to our mission of advancing the distinctive philosophy and practice of osteopathic medicine in all we do.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    //-| I’m glad you have chosen the AOA to be your professional home. I wish you and your loved ones a holiday season that is merry and bright.
                                    | I wish you and your loved ones a holiday season that is merry and bright. Wherever the new year may take you, the AOA will always be your professional home.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    | Bring on 2020!

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColorReverse};")
                                    | Sincerely,
                                    br
                                    br
                                    img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2019Holiday/klauer-sig-reversed-on-navy.png" width="140" height="61" border="0" alt="Dr. Klauer's signagure" style="display: block; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                    br
                                    | Kevin Klauer, DO, EJD
                                    br
                                    | CEO

        include ./includes/footer
