include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#fbf6ef" style="background-color: #fbf6ef")
      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="648")
        //-include ./includes/top-matter
        include ./includes/header

        include ./includes/banner

        tr(id="tr4")
          td(align="left").mobile-hide

          td(align="center")
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor=white style="padding: 0px 0px 0px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")
                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 24px 0px 0px 0px;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                //- HEADLINE
                                tr
                                  td(class="body-text-headline" style="padding: 8px 0px 28px; font-family: #{ffMedium}; font-weight: lighter; font-size: 36px; text-align: center; line-height: 44px; color: #cf5450;")
                                    | Our best wishes for a wonderful holiday season,
                                    br
                                    | Dr. %%IMIS||NAME||LAST_NAME%%

                                tr
                                  td(style="padding: 0 0 28px 0;")
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td(align="center")
                                          img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/bough-1.png" width="81" height="21" border="0" alt="Holiday bough" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Dear friends and colleagues,

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | On behalf of the AOA leadership, Board of Trustees and staff, we would like to wish you a joyous holiday and extend heartfelt thanks for all you’ve done to make this year one of growth, transformation and advancement for the osteopathic profession.

                                tr
                                  td(align="center" style="padding: 12px 0px 24px 0px;")
                                    table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                                      tr
                                        td(align="center" style="padding: 0px 10px 0px 10px;")
                                          a(href="https://www.youtube.com/watch?v=fhCp9rJilms" style="text-decoration: none;" target="_blank")
                                            img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/bot-holiday-card-still-3.jpg" width="400" height="239" border="0" alt="Holiday Card from BOT" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                      tr
                                        td(align="center" style="padding: 12px 10px 0px 10px;")
                                          +grafLink('View a video message from AOA leadership', 'https://www.youtube.com/watch?v=fhCp9rJilms', holidayRed)

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | This holiday season, we could not be more grateful for each and every one of the 168,701 DOs and osteopathic medical students who make up our proud profession, providing distinctively osteopathic care to millions of patients each day.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Thank you of all you do on behalf of your patients and profession, and for choosing the AOA as your professional home. We hope this holiday season brings you and your loved ones happiness, joy and peace.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{textColor};")
                                    | Sincerely,

                                tr
                                  td
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td
                                          table(align="left" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/giaimo-circle-1.png" width="125" height="135" border="0" alt="Portrait of Dr. Giaimo" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(style="padding-top: 20px" align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/giaimo-sig-black-1.png" width="224" height="61" border="0" alt="Dr. Ely's signature" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0px 0px; font-weight: bold; text-align: center; color: #{textColor};")
                                                      | Joseph A. Giaimo, DO
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{textColor};")
                                                      | AOA President

                                          table(align="right" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/klauer-circle-1.png" width="125" height="135" border="0" alt="Portrait of Kevin M. Klauer, DO" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" style="padding-top: 20px")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/klauer-sig-black-1.png" width="140" height="61" border="0" alt="Dr. Klauer's signagure" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0 0px; font-weight: bold; text-align: center; color: #{textColor};")
                                                      | Kevin M. Klauer, DO, EJD

                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{textColor};")
                                                      | AOA CEO

                                tr
                                  td(style="padding: 27px 0 0 0;")
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td(align="center")
                                          img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/bough-4.png" width="132" height="41" border="0" alt="Holiday bough" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")

          td(align="right").mobile-hide

        // cast shadow
        tr
          td(align="left").mobile-hide
          td(align="center")
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center")
                  // wrapper table
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        // content
                        table(border="0" cellpadding="0" cellspacing="0" width="100%")
                          tr
                            td
                              img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2021/card-shadow-bottom.png" width="600" height="73" border="0" alt="Cast shadow" style="display: block; padding: 0; color: #000066; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center; margin-left: auto; margin-right: auto;")
          td(align="right").mobile-hide

        include ./includes/footer
