include ./includes/mixins

// CONTAINER FOR EMAIL
table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
  tr
    td(align="center" bgcolor="#02153b" style="background-color: #02153b")
      // EMAIL START
      // wrapper
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="696")
        //-include ./includes/top-matter
        include ./includes/header

        include ./includes/banner

        tr(id="tr4")
          td(align="left").mobile-hide

          td(align="center")
            //- Add border to this table when we need it
            table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
              tr
                td(align="center" bgcolor="#02153b" style="padding: 0px 0px 0px 0px;")
                  // wrapper
                  table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
                    tr
                      td
                        table(border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="wrapper")
                          tr
                            td(align="center" class="padding-no-bottom" style="padding: 24px 0px 0px 0px;")
                              table(border="0" cellpadding="0" cellspacing="0" width="480" align="center" class="wrapper")
                                //- HEADLINE
                                //-tr
                                  //-td(class="body-text-headline" style="padding: 8px 0px 28px; font-family: #{ffMedium}; font-weight: lighter; font-size: 36px; text-align: center; line-height: 44px; color: #ffffff;")
                                    //-| Our best wishes for a wonderful holiday season,
                                    //-br
                                    //-| Dr. %%IMIS||NAME||LAST_NAME%%

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 24px 0px 25px; font-weight: normal; text-align: left; color: #{white};")
                                    | Dear osteopathic family,

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{white};")
                                    | On behalf of the AOA leadership, Board of Trustees and staff, we would like to wish every one of our 178,259 osteopathic physicians and osteopathic medical students, as well as their families and friends, a joyous and peaceful holiday season.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{white};")
                                    | We are filled with enormous gratitude for the dedication and commitment each of you brings to you patients and our profession each day. We have much to be thankful for, and we look forward to a new year of growth and opportunity working alongside you to advance the distinctiveness of osteopathic medicine.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{white};")
                                    | Thank you for choosing the AOA as your professional home, and for all you do to support our osteopathic family and care for your patients.

                                tr
                                  td(class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: left; color: #{white};")
                                    | Sincerely,

                                tr
                                  td
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td
                                          table(align="left" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center" style="height: 136px;")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2022/gelb-blue-6.png" width="125" height="135" border="0" alt="Portrait of Dr. Gelb" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(style="height: 61px; padding-top: 20px" align="center")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2022/signature-gelb-white-231x62.png" width="231" height="62" border="0" alt="Dr. Gelb's signature" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{white}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0px 0px; font-weight: bold; text-align: center; color: #{white};")
                                                      | Ernest R. Gelb, DO
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{white};")
                                                      | AOA President

                                          table(align="right" border="0" cellpadding="0" cellspacing="0" class="block" role="presentation" width="48%")
                                            tr
                                              td(style="text-align: center")
                                                table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                                  tr
                                                    td(align="center" style="height: 136px;")
                                                      img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2022/klauer-blue-2022-1.png" width="125" height="135" border="0" alt="Portrait of Kevin M. Klauer, DO" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{white}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" style="height: 61px; padding-top: 20px")
                                                      img(class="fluid-image" src="http://amorassoc.informz.net/AmOrAssoc/data/images/2021/klauer-sig-white-7.png" width="140" height="61" border="0" alt="Dr. Klauer's signagure" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")
                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 20px 0px 0 0px; font-weight: bold; text-align: center; color: #{white};")
                                                      | Kevin M. Klauer, DO, EJD

                                                  tr
                                                    td(align="center" class="body-text" style="font-family: #{ffBook}; font-size: 16px; line-height: 24px; padding: 0px 0px 25px; font-weight: normal; text-align: center; color: #{white};")
                                                      | AOA CEO

                                tr
                                  td(style="padding: 27px 0 0 0;")
                                    table(border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%")
                                      tr
                                        td(align="center")
                                          img(class="fluid-image" src="https://amorassoc.informz.net/AmOrAssoc/data/images/2022/flakes-6.png" width="403" height="36" border="0" alt="Holiday bough" style="display: block; margin: 0 auto 0 auto; padding: 0; color: #{altTextColor}; font-family: Helvetica, arial, sans-serif; font-size: 22px; line-height: 28px; text-align: center;")

          td(align="right").mobile-hide

        include ./includes/footer
